@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://lunevedy.com/assets/2.0/css/lunevedy.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";
@import "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css";



html { height: 100vh; font-size: 100%; font: inherit; vertical-align: baseline;;
    scroll-behavior: smooth; scroll-padding-top: 20px }

:root {
    --blue-000: #14235d;
    --blue-100: #1a2c76;
    --yellow-000: #ff0;
}

.section-selector-1 {
    background-color: var(--white-000);
}

.col-3 h3 {
    margin-bottom: 16px
}

.navbar {
    background: linear-gradient(right,#14235d,#1237cd);
}
header.theme-dark {
    background: linear-gradient(right,var(--blue-000),var(--blue-700));
}

header.theme-dark h1 {
    color: var(--yellow-000)
}

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited,
header.theme-dark .container-btn a.btn:nth-child(1):active {
    color: var(--white-000)
}

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover {
    color: var(--blue-000);
    background-color: var(--yellow-000)
}

header.theme-dark h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: var(--font-size-xxxl);
}

header.theme-dark h2 {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}

body {
    background-color: var(--blue-100);
}

/* Navigation bar */
.menu-container {
    position: relative;
    margin-bottom: 20px;
    background: var(--blue-000);
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Logo */
.topnav img {
    float: left;
    width: 40px;
}

/* Style the links inside the navigation bar */
.teacher {
    display: none;
}

.developer {
    display: none;
}

.topnav a {
    float: left;
    color: var(--white-000);
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: var(--yellow-000);
}

/* Add an active class to highlight the current page */
.topnav a.active {
    color: var(--white-000);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

    .topnav img {
        display: initial;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.topnav.responsive img {
        display: none;
    }

    .topnav.responsive a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive a.init {
        float: left;
        display: block;
    }
}

footer.theme-dark { background-color: var(--blue-000) }
footer.theme-dark > ul.footer-links li a:link,
footer.theme-dark > ul.footer-links li a:visited { text-decoration-color: var(--white-000) }

footer.theme-dark > ul.footer-links li a:focus,
footer.theme-dark > ul.footer-links li a:hover,
footer.theme-dark > ul.footer-links li a:active { text-decoration-color: var(--yellow-000) }

footer.theme-dark > ul.footer-links li a:link,
footer.theme-dark > ul.footer-links li a:visited { color: var(--white-000) }

footer.theme-dark > ul.footer-links li a:focus,
footer.theme-dark > ul.footer-links li a:hover,
footer.theme-dark > ul.footer-links li a:active { color: var(--yellow-000) }
.slide-right{-webkit-animation:slide-right 1s ease-in both;animation:slide-right 1s ease-in both}
@-webkit-keyframes slide-right{
    0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}
    100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes slide-right{
    0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}
    100%{-webkit-transform:translateX(0px);transform:translateX(0px)
    }}

.slide-tr{animation:slide-tr 1s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-tr{
    0%{-webkit-transform:translateY(-100px) translateX(-100px);}
    /*50%{-webkit-transform:translateY(-400px) translateX(300px);}*/
    100%{-webkit-transform:translateY(0px) translateX(0px);}}