:root {
    --blue-000: #14235d;
    --blue-100: #1a2c76;
    --yellow-000: #ff0;
}

/* ============== Do not delete this ========== */
.section-selector-1 {
    background-color: var(--white-000)
}

.col-3 h3 {
    margin-bottom: 16px
}

/* =============== Add your custom CSS below =========== */
header.theme-dark {
    background-color: var(--blue-000)
}

header.theme-dark h1 {
    color: var(--yellow-000)
}

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited,
header.theme-dark .container-btn a.btn:nth-child(1):active {
    color: var(--white-000)
}

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover {
    color: var(--blue-000);
    background-color: var(--yellow-000)
}

header.theme-dark h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: var(--font-size-xxxl);
}

header.theme-dark h2 {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}

body {
    background-color: var(--blue-100);
}

/* Navigation bar */
.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: var(--blue-000);
    color: #cdcdcd;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-container a:hover {
    color: var(--yellow-000);
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

.teacher {
    display: none;
}

.teacher-rev {
    display: initial;
}

.devlopper {
    display: none;
}

.devlopper-rev {
    display: initial;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu-logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu-logo img {
        max-height: 30px;
    }

    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 300px;
        right: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 50px 50px;
        background: #cdcdcd;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
    .menu-container {
        width: 100%;
    }

    .menu-container a {
        color: #cdcdcd;
    }

    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        padding: 0;
    }

    .menu li {
        padding: 0 20px;
    }
}